@import "../../vars.css";

.container{
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px; 
    border-bottom: 4px solid lightblue;
}

.projects{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.cardcontainer{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background:  linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 347px;

    
}

.image{
    margin-bottom: 26px;
    
}

.cardtitle{
    font-size: 25px;
    font-weight: 700;
}

.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}
.skill {
   
  }
  
  .links {
    width: 50%;
    margin-top: 26px;
    display: flex;
    justify-content:space-between;
  }
  
  .link {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .link span{
    cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
  }

  .link span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .link:hover span {
    padding-right: 15px;
   }

   .link:hover span:after {
    opacity: 1;
    right: 0;
   }

