@import "./vars.css";

.App{
    background-color: var(--color-bg);
    width: 100%;
    height: 100;
    overflow: hidden;
    
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #5f89b7, #30e1e4);
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #4e7a94, #1498b3);
  }
  